<div role="banner" class="header_unvx pure-g">
  <a href="#" id="toggle" class="toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span> 
  </a>
  <div class="pure-u-1 pure-u-md-1-5">
    <nav class="heading_unvx pure-menu">
      <a href="{{@site.url}}" class="pure-menu-heading pure-menu-link">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}} logo" />
        {{else}}
            <span class="title_unvx">{{@site.title}}</span>
        {{/if}}
      </a>
    </nav>
  </div>
  <div class="pure-u-1 pure-u-md-4-5">
    <nav class="menu_unvx pure-menu pure-menu-horizontal can-transform">
      {{navigation}}
    </nav>
  </div>
</div>

{{#contentFor "scripts"}}
<script type="text/javascript" src="{{asset "assets/js/menu-toggle-min.js"}}"></script>
{{/contentFor}}