<div role="banner" class="header_unvx pure-g">
  <a href="#" id="toggle" class="toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span> 
  </a>
  <div class="pure-u-1 pure-u-md-1-5">
    <nav class="heading_unvx pure-menu">
      <a href="{{@blog.url}}" class="pure-menu-heading pure-menu-link">
        {{#if @blog.icon}}
            <img src="{{@blog.icon}}" alt="{{@blog.title}} icon" />
        {{/if}}
        <span class="title_unvx">{{@blog.title}}</span>
      </a>
    </nav>
  </div>
  <div class="pure-u-1 pure-u-md-4-5">
    <nav class="menu_unvx pure-menu pure-menu-horizontal can-transform">
      <ul class="pure-menu-list">
        <!-- CATEGORIES -->
        <li class="pure-menu-item pure-menu-has-children">
          <a href="#" class="pure-menu-link">Categorías</a>
          <ul class="pure-menu-children">
              <li class="pure-menu-item unvx-category-item">
                <a href="" class="pure-menu-link">
                  <span></span>
                </a>
              </li>
          </ul>
        </li>
        <!-- PAGES -->
        <li class="pure-menu-item pure-menu-has-children">
          <a href="#" class="pure-menu-link">Páginas</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="/pages/lssi" class="pure-menu-link">
                LSSI
              </a>
            </li>
          </ul>
        </li>
        {{#if @blog.twitter}}
          <li class="pure-menu-item social_unvx">
            <a href="{{twitter_url @blog.twitter}}" class="pure-menu-link" rel="noopener" target="_blank">
              <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>
              <span>Twitter</span>
            </a>
          </li>
        {{/if}}
        {{#if @blog.facebook}}
          <li class="pure-menu-item social_unvx">
            <a href="{{facebook_url @blog.facebook}}" class="pure-menu-link" target="_blank" rel="noopener">
              <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i>
              <span>Facebook</span>
            </a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>

{{#contentFor "scripts"}}
<script type="text/javascript" src="{{asset "assets/js/menu-toggle.js"}}"></script>
{{/contentFor}}