<div class="pure-menu pure-menu-horizontal">
  <span>{{t "Share"}}:</span>
  <ul class="pure-menu-list">
    <!-- SOCIAL LINKS -->
    <li class="pure-menu-item">
      <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}&via={{encode @blog.title}}" class="pure-menu-link" target="noopener">
        <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>
      </a>
    </li>
    {{!-- <li class="pure-menu-item">
      <a href="https://www.linkedin.com/shareArticle?url={{url absolute="true"}}&title={{encode title}}" class="pure-menu-link" target="noopener">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
      </a>
    </li> --}}
    <li class="pure-menu-item">
      <a href="https://telegram.me/share/url?url={{url absolute="true"}}&text={{encode title}}" class="pure-menu-link" target="noopener">
        <i class="fab fa-fw fa-telegram" aria-hidden="true"></i>
      </a>
    </li>
    <!-- END SOCIAL LINKS -->
  </ul>
</div>