{{!< default}}
{{> header}}
<main class="main_unvx pure-g" role="main">
  {{#foreach posts}}
    <article class="article_unvx pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" role="article" itemscope itemtype="http://schema.org/Article">
      <header class="artheader_unvx">
        <time class="date_unvx" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
        <h1 class="arttitle_unvx" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
      </header>
      <div class="artcontent_unvx" itemprop="articleBody">
        {{content}}
      </div>
      {{#if tags}}
        <div class="arttags_unvx">
          Tags: {{tags separator=" | "}}
        </div>
      {{/if}}
    </article>
  {{/foreach}}
  {{#if pagination}}
    <div class="pagination_unvx">
      {{{pagination}}}
    </div>
  {{/if}}
</main>
{{> footer}}