{{!< default}}
{{> header}}
<main class="main_unvx pure-g" role="main">
  {{#post}}
    <div class="pure-u-1">
      <article class="article_unvx" role="article" itemtype="http://schema.org/Article">
        <header class="bg-img">
          <h1 class="title" itemprop="headline">{{title}}</h1>
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
          </span>
          <span>
            <i class="fa fa-user" aria-hidden="true"></i>
            {{t "Written by"}}: {{authors}}
          </span>
        </header>
        <section class="content">
          {{content}}
        </section>
        <section class="author">
          {{#primary_author}}
            <section class="author-card">
              {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
              {{/if}}
              <section class="author-card-content">
                <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
                  {{#if bio}}
                    <p>{{bio}}</p>
                  {{else}}
                    <p>{{t "Read "}}<a href="{{url}}">{{t "more posts"}}</a>{{t " by this author."}}</p>
                  {{/if}}
                </section>
              </section>
              <div class="post-full-footer-right">
                <a class="pure-button" href="{{url}}">{{t "Read more"}}</a>
              </div>
            </section>
          {{/primary_author}}
        </section>
        <footer>
          {{> social}}
          {{#if tags}}
            <div class="pure-menu pure-menu-horizontal">
              <span>{{t "Tags"}}:</span>
              <ul class="pure-menu-list">
                {{#foreach tags}}
                  <li class="pure-menu-item">
                    <a href="{{url}}" class="pure-menu-link">{{name}}</a>
                  </li>
                {{/foreach}}
              </ul>
            </div>
          {{/if}}
        </footer>
      </article>
    </div>
  {{/post}}
</main>
{{> footer}}


{{#contentFor "styles"}}
  {{#post}}
    <style type="text/css">
      header.bg-img {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{feature_image}}) no-repeat center center;
        background-size: cover;
      }
    </style>
  {{/post}}
{{/contentFor}}