{{!< default}}
{{> header}}
<main class="main_unvx pure-g" role="main">
  {{#post}}
    <div class="pure-u-1">
      <article class="article_unvx" role="article" itemtype="http://schema.org/Article">
        <header class="bg-img">
          <h1 class="title" itemprop="headline">{{title}}</h1>
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
          </span>
          <span>
            <i class="fa fa-user" aria-hidden="true"></i>
            {{t "Written by"}}: {{authors separator=", "}}
          </span>
        </header>
        <section class="content">
          <div class="content-text">
            {{content}}
          </div>
        </section>
        <footer>
          {{> social}}
          {{#if tags}}
            <div class="pure-menu pure-menu-horizontal">
              <span>{{t "Tags"}}:</span>
              <ul class="pure-menu-list">
                {{#foreach tags}}
                  <li class="pure-menu-item">
                    <a href="{{url}}" class="pure-menu-link">{{name}}</a>
                  </li>
                {{/foreach}}
              </ul>
            </div>
          {{/if}}
        </footer>
      </article>
    </div>
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
      this.page.url = "{{url absolute="true"}}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "ghost-{{comment_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://univunix.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {{/post}}
</main>
{{> footer}}


{{#contentFor "styles"}}
  {{#post}}
    <style type="text/css">
      header.bg-img {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{feature_image}}) no-repeat center center;
        background-size: cover;
      }
    </style>
  {{/post}}
{{/contentFor}}